<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties" />
	<mappers>
		<mapper resource="mappings/album-mapping.xml" />
		<mapper resource="mappings/music-mapping.xml" />
		<mapper resource="mappings/user-mapping.xml" />
	</mappers>
</configuration>
